@model IEnumerable<Catblog.Domain.Kitty>
@{
	int rowNumber = 1;
}


<div class="h1">Your Kittys:</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">AdminCatName</th>
				<th scope="col">AdminCatSpecies</th>
				<th scope="col">AdminCatAge</th>
				<th scope="col">AdminCatGender</th>
				<th scope="col">AdminCatDescription</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var kitty in Model)
			{
				<tr>
					<td>@rowNumber</td>
					<td>
						@if (kitty.Image != null && kitty.Image.Any())
						{
							var firstImage = kitty.Image.First();
							var base64 = Convert.ToBase64String(firstImage.ImageData);
							var imgSrc = $"data:image/png;base64,{base64}";
							<img src="@imgSrc" alt="@firstImage.ImageTitle" width="100" height="100" class="rounded shadow-sm" />
						}
						else
						{
							<span class="text-muted">No image</span>
						}
					</td>
					<td>@rowNumber</td>
					<td>@kitty.AdminCatName</td>
					<td>@kitty.AdminCatSpecies</td>
					<td>@kitty.AdminCatAge</td>
					<td>@kitty.AdminCatGender</td>
					<td>@kitty.AdminCatDescription</td>
				</tr>
				
			}
		
		</tbody>
	</table>
</form>


