@model IEnumerable<Catblog.Models.AdminCat>

@{
	int rowNumber = 1;
}
<div><a asp-action="Create" asp-controller="Kittys" class="btn btn-primary">Create a new kittys</a></div>

<div class="h1">Your Kittys:</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">AdminCatName</th>
				<th scope="col">AdminCatSpecies</th>
				<th scope="col">AdminCatAge</th>
				<th scope="col">AdminCatGender</th>
				<th scope="col">AdminCatDescription</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var kitty in Model)
			{
				<tr>
					
					<td>@rowNumber</td>
					<td>@kitty.AdminCatName</td>
					<td>@kitty.AdminCatSpecies</td>
					<td>@kitty.AdminCatAge</td>
					<td>@kitty.AdminCatGender</td>
					<td>@kitty.AdminCatDescription</td>
				</tr>
			}
		</tbody>
	</table>
</form>


